{% extends "finnito.theme.fitlytics::layouts.default" %}

{% block content %}
    <h2>{{ week[0].date|date("D jS \\o\\f F") }} - {{ week[6].date|date("D jS \\o\\f F") }}</h2>

    <table class="pure-table pure-table-horizontal pure-table-striped last-row-emphasised">
        <thead>
            <tr>
                <th>Sport</th>
                <th>Distance</th>
                <th>Elevation</th>
                <th>Moving Time</th>
            </tr>
        </thead>
        <tbody>
            {% for stat in currentWeekStatisticsByType %}
            <tr>
                <td>{{ stat.type }}</td>
                <td>{{ stat.metersToKilometers(stat.distance, 2) }}km</td>
                <td>{{ stat.metersToKilometers(stat.elevation, 2) }}km</td>
                <td>{{ stat.secondsToHours(stat.moving_time) }}</td>
            </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td>{{ currentWeekStatisticsByType[0].metersToKilometers(currentWeekStatistics.distance, 2) }}km</td>
                <td>{{ currentWeekStatisticsByType[0].metersToKilometers(currentWeekStatistics.elevation, 2) }}km</td>
                <td>{{ currentWeekStatisticsByType[0].secondsToHours(currentWeekStatistics.moving_time, 2) }}</td>
            </tr>
        </tbody>
    </table>

    <div class="training-log">
        
        {% for day in week %}
        <details {% if day.date|date("Y-m-d", "Pacific/Auckland") <= "now"|date("Y-m-d", "Pacific/Auckland") %}open{% endif %}>
            <summary><h3>{{ day.date|date("D jS F", "Pacific/Auckland") }}</h3></summary>
        <div class="grid-container">
            <div class="Sidebar">
                <div class="Plan">
                    <div class="flex-apart">
                        <span><strong>Plan</strong></span>
                        {% if day.plan %}
                            <span><a class="pure-button button-xsmall button-secondary" href="/admin/fitlytics/plans/edit/{{ day.plan.id }}">Edit Plan</a></span>
                        {% else %}
                            <span><a class="pure-button button-xsmall button-success" href="/admin/fitlytics/plans/create?date={{day.date|date("Y-m-d", "Pacific/Auckland")}}">Add Plan</a></span>
                        {% endif %}
                    </div>
                    {{ day.plan.htmlPlan()|raw }}
                </div>
                <div class="Note">
                    <div class="flex-apart">
                        <span><strong>Note</strong></span>
                        {% if day.note %}
                            <span><a class="pure-button button-xsmall button-secondary" href="/admin/fitlytics/notes/edit/{{ day.note.id }}">Edit Note</a></span>
                        {% else %}
                            <span><a class="pure-button button-xsmall button-success" href="/admin/fitlytics/notes/create?date={{day.date|date("Y-m-d", "Pacific/Auckland")}}">Add Note</a></span>
                        {%  endif %}
                    </div>
                    <table class="blank left">
                        <tbody>
                            <tr>
                                <td><strong>Injured:</strong> <span class="{% if day.note.injured.isTrue() %}red{% else %}green{% endif %}">{{ day.note.injured.text() }}</span></td>
                                <td><strong>Sick:</strong> <span class="{% if day.note.sick.isTrue() %}red{% else %}green{% endif %}">{{ day.note.sick.text() }}</span></td>
                            </tr>
                            <tr>
                                <td><strong>Sleep Quality:</strong> {% if day.note.sleep_quality %}{{ day.note.sleep_quality }}/5{% endif %}</td>
                                <td><strong>Stress Level:</strong> {% if day.note.stress_level %}{{ day.note.stress_level }}/5{% endif %}</td>
                            </tr>
                        </tbody>
                    </table>
                    <p>{{ day.note.htmlNote()|raw }}</p>
                </div>
            </div>
            <div class="Activities">
                <h4>Activities</h4>
                {% set renderActivities = false %}

                {% if day.date|date("Y-m-d", "Pacific/Auckland") < "now"|date("Y-m-d", "Pacific/Auckland") %}
                    {% if day.activities|length > 0 %}
                        {% set renderActivities = true %}
                    {% else %}
                        <p>No activities; took a rest day.</p>
                    {% endif %}

                {% elseif day.date|date("Y-m-d", "Pacific/Auckland") == "now"|date("Y-m-d", "Pacific/Auckland") %}
                    {% if day.activities|length > 0 %}
                        {% set renderActivities = true %}
                    {% else %}
                        <p>No activities yet!</p>
                    {% endif %}

                {% else %}
                    <p>Wait and see..</p>

                {% endif %}

                {% if renderActivities == true %}
                {# {% if day.activities|length > 0 %} #}
                <div class="table-wrapper">
                <table class="pure-table shadow">
                    <thead>
                        <tr>
                            <th>Time</th>
                            <th>Name</th>
                            <th>Distance</th>
                            <th>Elevation</th>
                            <th>Moving Time</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for activity in day.activities %}
                        <tr>
                            <td>{{ activity.start_date|date("g:ia", "Pacific/Auckland") }}</td>
                            <td>{{ activity.name }}</td>
                            <td>{{ activity.metersToKilometers(activity.distance, 2) }}km</td>
                            <td>{{ activity.total_elevation_gain }}m</td>
                            <td>{{ activity.secondsToHours(activity.moving_time) }}</td>
                            <td><a class="pure-button button-xsmall button-secondary" href="/admin/fitlytics/activities/edit/{{ activity.id }}">Edit</a></td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                </div>
                {% endif %}
                {# {% else %} #}
                {# <p>No activities - had a rest instead!</p> #}
                {# {% endif %} #}
            </div>
        </div>
        </details>
        {% endfor %}
    </div>

    <hr/>

    <div class="forms">
        {{ form("note_form") }}
        {{ form("plan_form") }}
    </div>


    <div id="calendar"></div>

    <script src="https://cdn.jsdelivr.net/npm/fullcalendar@5.6.0/main.min.js" integrity="sha256-ekrJn2FeZaiUFq99QswpQCUTME/HxaDfX7R8INzKJGE=" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/fullcalendar@5.6.0/main.css" integrity="sha256-ejA/z0dc7D+StbJL/0HAnRG/Xae3yS2gzg0OAnIURC4=" crossorigin="anonymous">
    <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script>
    <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.2.0/dist/chart.min.js" integrity="sha256-ovnFmAOngtHmlhZzPyGrofexz4Kdik4kEobc8B9r1Yk=" crossorigin="anonymous"></script>
    <script>
    document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
            initialView: 'dayGridMonth',
            eventDisplay: "block",
            height: "75vh",
            stickyHeaderDates: true,
            firstDay: 1,
            stickyFooterScrollbar: true,
            showNonCurrentDates: true,
            fixedWeekCount: false,
            navLinks: true,
            weekNumbers: true,
            eventSources: [
                {
                  url: '/activities-calendar-feed/'
                },
                {
                  url: '/notes-calendar-feed/'
                },
                {
                  url: '/weekly-summary-feed/'
                },
                {
                  url: '/plans-calendar-feed/'
                },
            ],
            eventDidMount: function(info) {
                var tooltip = tippy(info.el, {
                    content: info.event.extendedProps.description,
                    allowHTML: true,
                });
            },
            eventContent: function(arg) {
                return {
                    html: arg.event.title.replace(/\n/g, '<br>')
                }
            },
            headerToolbar: {
                left: 'prev, next, today',
                center: 'title',
                right: 'dayGridWeek, dayGridMonth, listWeek'  
            },
        });
        calendar.render();
    });
    </script>
{% endblock %}