{% extends "finnito.theme.fitlytics::layouts.default" %}

{% block subtitle %}
    {{ week_of|date_modify('monday this week')|date("D jS")}} - {{ week_of|date_modify('sunday this week')|date("D jS \\o\\f F Y") }}
{% endblock %}

{% block week %}
    <div>
        <div class="navigation-controls">
            <div class="select !normal">
                <select name="week-selector" id="week-selector" autocomplete="off">
                {% for item in weeks %}
                    {{ item|date('Y-m-d', "Pacific/Auckland") }}, {{ week_of|date_modify('monday this week')|date("Y-m-d", "Pacific/Auckland") }}
                    <option value="{{ item|date('Y-m-d', "Pacific/Auckland") }}" {% if week_of|date_modify('monday this week')|date("Y-m-d", "Pacific/Auckland") == item|date("Y-m-d", "Pacific/Auckland") %} selected {% endif %}>Week of {{ item|date("D jS M, Y", "Pacific/Auckland") }}</option>
                {% endfor %}
                </select>
            </div>
            <a class="button light-blue" href="/?week-of={{ week_of|date_modify('-1 week')|date('Y-m-d', 'Pacific/Auckland') }}">Week ⬅️</a>
            <a class="button light-yellow" href="/?week-of={{ 'now'|date('Y-m-d', 'Pacific/Auckland') }}">Today</a>
            <a class="button light-blue" href="/?week-of={{ week_of|date_modify('+1 week')|date('Y-m-d', 'Pacific/Auckland') }}">➡️ Week</a>
            <script>
            document.querySelector("select#week-selector").addEventListener("change", function(event) {
                window.location.href = ("/?week-of=" + event.target.selectedOptions[0].value);
            });
            </script>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="column-to-row">
        <div class="table-wrapper">
            <table class="table last-row-emphasised">
                <thead>
                    <tr>
                        <th>Sport</th>
                        <th>Distance</th>
                        <th>Elevation</th>
                        <th>Moving Time</th>
                    </tr>
                </thead>
                <tbody>
                    {% set time = 0 %}
                    {% set distance = 0 %}
                    {% set elevation = 0 %}

                    {% if currentWeekStatisticsByType|length > 0 %}
                    {% for stat in currentWeekStatisticsByType %}
                    {% set time = time + stat.moving_time %}
                    {% set distance = distance + stat.distance %}
                    {% set elevation = elevation + stat.elevation %}
                    <tr>
                        <td>{{ stat.type }}</td>
                        <td>{{ stat.metersToKilometers(stat.distance, 2) }}km</td>
                        <td>{{ stat.elevation }}m</td>
                        <td>{{ stat.secondsToHours(stat.moving_time) }}</td>
                    </tr>
                    {% endfor %}
                    {% endif %}

                    <tr>
                        <td></td>
                        <td>{{ currentWeekStatisticsByType[0].metersToKilometers(distance, 2) }}</td>
                        <td>{{ elevation }}m</td>
                        <td>{{ currentWeekStatisticsByType[0].secondsToHours(time, 2) }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="chartContainer">
            <canvas id="currentWeekChart"></canvas>
            <script>
            document.addEventListener("DOMContentLoaded", function() {
                var currentWeekChartEl = document.getElementById('currentWeekChart').getContext('2d');
                var currentWeekChart = new Chart(currentWeekChartEl, { 
                    type: 'bar',
                    responsive: true,
                    maintainAspectRatio: true,
                    aspectRatio: 1,
                    options: {
                        interaction: {
                            
                        },
                        plugins: {
                            legend: {
                                position: 'bottom',
                            },
                            title: {
                                display: true,
                                text: 'Week Breakdown'
                            }
                        },
                        responsive: true,
                        scales: {
                            "y": {
                                display: "auto",
                                position: 'left',
                                type: 'linear',
                                title: {
                                    display: true,
                                    text: "Distance (km)",
                                },
                            },
                            "y2": {
                                display: "auto",
                                position: 'right',
                                type: 'linear',
                                title: {
                                    display: true,
                                    text: "Duration (min)",
                                },
                                grid: {
                                    drawOnChartArea: false,
                                },
                            }
                        }
                    }
                });
                getRemoteData(currentWeekChart, '/api/currentWeekChart?week-of={{ week_of|date("Y-m-d", "Pacific/Auckland") }}');
            });
            </script>
        </div>
    </div>

    <table class="outer-table">
    {% for num, day in period %}
        <thead>
            <th colspan="3">{{ day|date("D jS F") }}</th>
        </thead>
        <tbody>
            <tr>
                <td class="v-top plan">
                    <div class="flex-apart static">
                        <div>
                            <strong>Plan</strong>
                        </div>
                        <div>
                        {% if plans[num+1] %}
                            <span><a class="button yellow button-xsmall" href="/admin/fitlytics/plans/edit/{{ plans[num+1][0].id }}">Edit Plan</a></span>
                        {% else %}
                            <span><a class="button green button-xsmall" href="/admin/fitlytics/plans/create?date={{day|date("Y-m-d", "Pacific/Auckland")}}">Add Plan</a></span>
                        {% endif %}
                        </div>
                    </div>
                    {% if plans[num+1] %}<p>{{ plans[num+1][0].htmlPlan()|raw }}</p>{% endif %}
                </td>

                <td rowspan="2" class="activities">
                {% if activities[num+1] %}
                    <table>
                    {% for activity in activities[num+1] %}
                        <tr>
                            <td><small>{{ activity.start_date|date("g:ia", "Pacific/Auckland") }} {{ activity.activityTypeEmoji() }}</small><br><a href="/activity/{{ activity.id }}">{{ activity.name() }}</a></td>
                            <td>{{ activity.secondsToHours(activity.moving_time) }}<br>{{ activity.metersToKilometers(activity.distance, 2) }}km</td>
                            <td>{{ activity.total_elevation_gain }}m ⬆️</td>

                            {% if activity.activity_json().has_heartrate %}
                            <td>{{ activity.activity_json().average_heartrate|round }}bpm<br>({{ activity.activity_json().max_heartrate|round }})</td>
                            {% endif %}
                            
                            <td>
                            {% if activity.activity_json().average_cadence %}
                            {{ (activity.activity_json().average_cadence * 2)|round }}spm<br>
                            {% endif %}
                            {% if activity.activity_json().average_watts %}
                                {{ activity.activity_json().average_watts|round }}W
                            {% endif %}
                            </td>
                            
                            {% if activity.activity_json().kilojoules %}<td>{{ activity.activity_json().kilojoules|round }}kJ</td>{% endif %}
                            
                            
                            <td><a class="button orange button-xsmall" href="/admin/fitlytics/activities/edit/{{ activity.id }}">Edit</a></td>
                        </tr>
                    {% endfor %}
                    </table>
                {% endif %}
                </td>
            </tr>
            <tr>
                <td class="v-top note">
                
                <div class="flex-apart">
                    <div>
                        <strong>Note</strong>
                    </div>
                    <div>
                        {% if notes[num+1][0].note %}
                            <span><a class="button yellow button-xsmall" href="/admin/fitlytics/notes/edit/{{ notes[num+1][0].id }}">Edit Note</a></span>
                        {% else %}
                            <span><a class="button green button-xsmall" href="/admin/fitlytics/notes/create?date={{day|date("Y-m-d", "Pacific/Auckland")}}">Add Note</a></span>
                        {% endif %}
                    </div>
                </div>
                        {% if notes[num+1] %}
                        <p>
                        {% if notes[num+1][0].injured.isTrue() %}
                            <span class="tag t5">Injured</span>
                        {% else %}
                            <span class="tag t1">Not Injured</span>
                        {% endif %}

                        {% if notes[num+1][0].sick.isTrue() %}
                            <span class="tag t5">Sick</span>
                        {% else %}
                            <span class="tag t1">Not Sick</span>
                        {% endif %}

                        {% if notes[num+1][0].sleep_quality == "5" %}
                            {% set sleepType = "t1" %}
                        {% elseif notes[num+1][0].sleep_quality == "4" %}
                            {% set sleepType = "t2" %}
                        {% elseif notes[num+1][0].sleep_quality == "3" %}
                            {% set sleepType = "t3" %}
                        {% elseif notes[num+1][0].sleep_quality == "2" %}
                            {% set sleepType = "t4" %}
                        {% elseif notes[num+1][0].sleep_quality == "1" %}
                            {% set sleepType = "t5" %}
                        {% else %}
                            {% set sleepType = "t3" %}
                        {% endif %}

                        {% if notes[num+1][0].stress_level == "1" %}
                            {% set stressType = "t1" %}
                        {% elseif notes[num+1][0].stress_level == "2" %}
                            {% set stressType = "t2" %}
                        {% elseif notes[num+1][0].stress_level == "3" %}
                            {% set stressType = "t3" %}
                        {% elseif notes[num+1][0].stress_level == "4" %}
                            {% set stressType = "t4" %}
                        {% elseif notes[num+1][0].stress_level == "5" %}
                            {% set stressType = "t5" %}
                        {% else %}
                            {% set stressType= "t3" %}
                        {% endif %}

                        <span class="tag {{ sleepType }}">Sleep {{ notes[num+1][0].sleep_quality }}/5</span>
                        <span class="tag {{ stressType }}">Stress {{ notes[num+1][0].stress_level}}/5</span>
                        <br>
                        {{ notes[num+1][0].htmlNote()|raw }}</p>
                    {% endif%}
                    </div>
                </div>
            </td>
            </tr>
        </tbody>
    {% endfor %}
    </table>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@3.2.1/dist/chart.min.js" integrity="sha256-uVEHWRIr846/vAdLJeybWxjPNStREzOlqLMXjW/Saeo=" crossorigin="anonymous"></script>
    
    <script>
    function getRemoteData(chart, url)
    {
        var request = new XMLHttpRequest();
        request.onreadystatechange = function() {
            if (this.readyState == 4 && this.status == 200) {
                chart.data = JSON.parse(request.responseText);
                chart.update();
            }
        };
        request.open("GET", url, true);
        request.send();
    };
    </script>

{% endblock %}