<h2 id="new-note">Daily Note</h2>
<div class="pure-g pure-form">
    <div class="pure-u-1-2">
        {{ form.fields.date|raw }}
    </div>
    <div class="pure-u-1-2">
        {{ form.fields.weight|raw }}
    </div>
    <div class="pure-u-1-2">
        {{ form.fields.sick|raw }}
    </div>
    <div class="pure-u-1-2">
        {{ form.fields.injured|raw }}
    </div>
    <div class="pure-u-1-2">
        {{ form.fields.stress_level|raw }}
    </div>
    <div class="pure-u-1-2">
        {{ form.fields.sleep_quality|raw }}
    </div>
    <div class="pure-u-1">
        {{ form.fields.note|raw }}
    </div>
</div>

